* {
    box-sizing: border-box;
}

:root {
    --spacing: 20px;
    --blur: 0px;
    --base-color: #ff9a00;
}

body {
    margin: 0;
    padding: 0 1rem;
    font-family: sans-serif;
    background: #005C97; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #363795, #005C97); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    color: #E0EAFC;
}

.controls {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.controls label {
    font-size: 1.5rem;
}

.control {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.highlight {
    color: var(--base-color);
}

input[type=range] {
    appearance: none;
    width: 7rem;
    height: .2rem;
    outline: none;
    border-radius: .25rem
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 0.7rem;
    height: 1.3rem;
    background-color: var(--base-color);
    border: .15rem solid white;
    border-radius: 1rem;
    cursor: pointer;
}


img {
    max-width: 100%;
    width: 700px;
    padding: var(--spacing);
    background: var(--base-color);
    filter: blur(var(--blur));
}