* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
    background: #E0EAFC; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock {
    width: 250px;
    height: 250px;
    padding: 1rem;
    border-radius: 50%;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: inset 0 0 10px #fff;
}

.clock-face {
    width: 100%;
    height: 100%;
    position: relative;
}

.clock-face::after {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: #bfbfbf;
    border-radius: 50%;
    left: calc(50% - 5px);
    top: calc(50% - 5px);
    z-index: 3;
}

.clock-hand {
    height: 4px;
    width: 50%;
    background: #d2d2d2;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    /*transition: 0.05s ease-in-out;*/
    transform: rotate(90deg);
}

.hours-hand {
    width: 40%;
    left: 10%;
}

.seconds-hand {
    height: 2px;
    background: #fff;
}